name: Mate Hub Application CI
on: push

jobs:
  test_application:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Run application tests
        run: python3 manage.py test
